body{
	width: 80%;
	margin: auto;
	font-family: Arial, sans-serif, serif;
	font-size: 100%;
	color: #353535;
	background-color: #EEE;
}

header{
	width: 100%;
	margin: auto;
}

footer{
	width: 100%;
	font-size: .75em;
	color: #555;
}

footer > p{
	margin: auto;
	width: 50%;
}



section{
	width: 100%;
}

a{
	color: #3291C1;
	text-decoration: none;
}

a:visited{
	color: #026191;
}

a:hover{
	color: #2279A8;	
}

#introductionHeader{
	width:50%;
	margin: auto;
}

#introductionHeader > p{
	width: 50%;
	margin: auto;
}

#photobreak{
	width: 50%;
	margin: auto;
}

#photobreak > img{
	width: 80%;
	height: 80%;
	margin: auto;
}
