body{
	width: 80%;
	margin: auto;
	font-family: Arial, sans-serif, serif;
}

section{
	width: 100%;
}

#introductionHeader{
	width:50%;
	margin: auto;
}

#introductionHeader > p{
	width: 50%;
	margin: auto;
}

#photobreak{
	width: 50%;
	margin: auto;
}

#photobreak > img{
	width: 640px;
	height: 640px;
	margin: auto;
}
